body{
	background-color: lightblue;
	font-family: "Monaco", monospace;
	padding: 0;
	margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right';
  grid-gap: 10px;
  padding: 10px;
}
h1{
	margin: 30px;
}
.card{
	position:  center;
	padding: 10px;
	background: #fbfbfb;
	border-radius: 3px;
	box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
	height: 400px;
	margin:  0px 80px 80px 20px;
	width: 800px;
}
.form-styling {
	width: 250%;
	height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 40px;
	margin-bottom: 10px;
	background: lightgrey;
}
.side-profile{
	width: 20%;
	margin: 10px;
	padding: 10px;
	background-color: black;
	position: fixed;
	height: 100%;
	overflow: auto;
	grid-area: menu; 
}
.side-profile a{
	display: block;
	color : white;
	padding: 10px;
	text-decoration: none;
	text-align: left;
}
.first {
	color: black;
	background-color: lightgrey;
}

.side-profile a:hover:not(.active){
	background-color: grey;
	color: black;
}
.foot{
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 10px;

}
.name{
	text-align: center;
	font-size: 30px;
	color: white;
}
.main{
	margin-left: 250px;
	padding: 1px 16px;
	height: 100px;
	width: 100%;
	grid-area: main;
}

.profilepic{
	width: 130px;
	margin: 50px 0 0 55px;
}
.kat{
	width: 250%;
	height: 60px;
	padding-left: 15px;
	border: none;
	border-radius: 10px;
	margin-bottom: 30px;
	background: lightgrey;
}

.btn1{
	padding: 8px 0 10px 0;
	width: 100%;
	height: 30px;
	border: none;
	border-radius: 20px;
	color: black
	background-color: lightgrey;
	font-family: "Monaco", monospace;
	margin-left: : 15px;
}

button:hover{
	background-color: grey;
	transition: background-color .5s; 

}

* {box-sizing: border-box;}

 .navbar {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 55px;
    grid-area: header;
  } 
  .logo {
    text-decoration: none;
    color: #FDFDFD;
    font-family: luminari;
    font-size: 30px;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav ul li a{
    color: #FDFDFD;
    text-decoration: none;
    margin: 0 20px;
  }
  .nav ul li a:hover{
    color: #95b2c0;
    transition: .3s ease-in-out;
  }
  .nav-kanan ul li {
    display: inline-block;
  }
  .nav-kanan ul li a{
    color: #FDFDFD;
    text-decoration: none;
    margin-left: 15px;
  }
  .nav-kanan ul li a:hover {
    color: #95b2c0;
    transition: .3s ease-in-out;
  }
  .header1[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #FDFDFD;
  }
  ::-webkit-input-placeholder{
    color: #FDFDFD;
    font-family: 'Nunito';
    transition: opacity .2s ease-in-out;
  }
  :focus::-webkit-input-placeholder{
    opacity: 0.3;
  }
  .fa-search {
    padding: 10px;
    color: #FDFDFD;
  }
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn:hover {
  color: black;
}
.active {
  background-color: lightgrey;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}