* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Nunito', Helvetica, sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url(../image/travel.png);
  padding: 1% 3%;
  /* background-color: cornflowerblue; */
}

.nav-kanan .icon {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #feb743; */
}
.logo {
  justify-content: left;
  text-decoration: none;
  color: #141414;
  font-family: luminari;
  font-size: 30px;
  margin-left: 80px;
  /* background-color: aquamarine; */
}
.nav ul li {
  display: inline-block;
  /* justify-content: center; */
}
.nav ul li a{
  color: #141414;
  text-decoration: none;
  margin: 20px;
}
.nav ul li a:hover{
  color: #dc6713;
  transition: .3s ease-in-out;
}
.nav-kanan ul li {
  display: inline-block;
}
.nav-kanan ul li a{
  color: #141414;
  text-decoration: none;
}
.nav-kanan ul li a:hover {
  color: #dc6713;
  transition: .3s ease-in-out;
}
input[type=text] {
  width: 100px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: #141414;
}
::-webkit-input-placeholder{
  color: #141414;
  font-family: 'Nunito';
  transition: opacity .2s ease-in-out;
}
:focus::-webkit-input-placeholder{
  opacity: 0.3;
}
.fa-search {
  padding: 10px;
  color: #141414;
}
.button {
  background-color: #FDFDFD; /* Green */
  border: 1px solid #dc6713;
  color: #dc6713;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: 'nunito';
  border-radius: 10px;
  /* font-size: 16px; */
}
.button1 {
  padding: 3px 18px;
  font-size: 16px;
}
@media screen and (max-width: 1100px) {
  .nav a {display: none;}
  .nav-kanan a{display: none;}
  .nav-kanan .fa-search{display: none;}
  .nav-kanan input[type=text]{ display: none;}
  .nav-kanan a.icon {
    float: right;
    display: block;
    font-size: 20px;
    margin-right: 120%;
  }
  .logo {
    margin-left: 7%;
    /* padding: 0; */
    /* background-color: brown; */
  }
  .header p {display: none;}
  .header h3 {font-size: 30px;}
  .judul {font-size: 12px;}
}
.row {
  display: flex;
  /* align-items: center; */
  height: 80%;
  font-family: helvetica;
  padding: 3% 7%;
}
.col {
  flex-basis: 50%;
  line-height: 25px;
  
}
.col h2 {
  font-size: 40px;
  color: #141414;
  margin-top: 15px;
  font-weight: bold;
  font-family: 'Montserrat';
  /* background-color: #dc6713; */
}
.col p {
  font-size: 16px;
  color: #141414;
  margin: 15px 2px;font-family: 'nunito';
}
.col img{
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.nama {
  /* background-color: #dc6713; */
  justify-content: space-between;
  text-align: center;
  display: flex;
}